<div class="container-fluid">
  <div class="container">
    <div class="footer">
      <div class="footer_logo">
        ARTY VALUE
      </div>
      <div class="footer_list">
        <ul>
          <li> <a class="footer_list_text" href="https://rayward.jp/">運営会社</a></li>
          <li><a class="footer_list_text" href="https://rayward.jp/wp-content/themes/rayward/privacy.html">プライバシーポリシー</a></li>
        </ul>
      </div>
      <div class="footer_copy">
        ©️2020 Arty Value all rights reserved
      </div>
    </div>
  </div>  
</div>