<div class="container-fluid">
  <div class="container">
    <div class="header">
      <div class="header_logo">
        ARTY VALUE
      </div>
      <div class="header_btn">
        <% if user_signed_in? %>
          <div class="header_btn_left">
            <%= link_to "Home", "/arts", class: 'header_btn_left-link' %>
          </div>
          <div class="header_btn_right">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'header_btn_right-link' %>
          </div>
        <% else %>
          <div class="header_btn_left">
            <%= link_to "Signup", new_user_registration_path, class: 'header_btn_left-link' %>
          </div>
          <div class="header_btn_right">
            <%= link_to "Login", new_user_session_path, class: 'header_btn_right-link' %>
          </div>
        <% end %>          
      </div>
    </div>
  </div>
</div>