<div class="container-fluid">
  <div class="container">
    <div class="header">
      <div class="header_logo">
        ARTY VALUE
      </div>
      <div class="header_btn">
        <div class="header_btn-left">
          新規登録
        </div>
        <div class="header_btn-right">
          ログイン
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="container">
    こっからメインエリア
    <div class="top">
      トップエリア
      <div class="top_exhibit">
        出典する
      </div>
      <div class="top_search">
        探す
      </div>
    </div>

    <div class="content">
      コンテンツエリア
      <div class="content_image">
        作品の画像
      </div>
      <div class="content_title">
        作品タイトル
      </div>
      <div class="content_status">
        作品の状況
    </div>

  </div>
</div>