.regist_area {
  width: 350px;
  margin: 50px auto 0 auto;
  padding: 50px;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  h3.regist_title {
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
  }
  .regist_field {
    padding-bottom: 20px;
    &_text {
      font-weight: bold;
      padding-left: 20px;
      padding-bottom: 8px;
    }
    &_box {
      font-size: 16px;
      display: block;
      width: 200px;
      margin: 0 auto;
      padding-left: 5px;
    }
    &_box:focus {
      outline: 0;
    }
    &_image {
      font-size: 12px;
      display: block;
      width: 200px;
      margin: 0 auto;
      padding-left: 5px;
    }
    &_image:focus {
      outline: 0;
    }
  }
  .actions {
    &_box {
      text-align: center;
      padding-top:30px;
      &_btn {
        padding: 5px;
        width: 100px;
        color: rgb(255, 255, 255);
        background-color: rgb(58, 58, 58);
      }
    }
  }
}